#container {
  background: var(--white-color);
  padding: 20px 40px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 400;
  -webkit-app-region: drag;
}
