.currency {
  background: var(--lightgray-color);
  -webkit-app-region: no-drag;
}

input {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 0;
    background: transparent;
    color: inherit;
    user-select: text;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}